body {
  font-family: sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 30px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}
/* Dashboard */
.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-bottom: 40px;
}

.stat-card{
  flex:1;
  background:#ffffff;
  padding:25px;
  border-radius:14px;
  box-shadow:0 4px 10px rgba(0,0,0,0.08);
  text-align:justify;
  min-height:120px;
}
.stat-card p{
  font-size:14px;
  font-weight:600;
  color:#6b7280;
  letter-spacing:0.5px;
}
.stat-card h2{
  font-size:38px;
  font-weight:bold;
  margin-top:10px;
}